body {
    margin: 0;
}
.main {
    background: #e1e1e1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio {
    background: white;
    width: 90%;
    min-height: 90vh;
    display: flex;
    border-radius: 66px;
    box-shadow: -7px 4px 20px 0px gray;
}
.portfolio-left {
    padding: 70px;
    background: orange;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 66px 0 0 66px;
}
.portfolio-right {
    padding: 40px;
    background: white;
    width: 60%;
    border-radius: 0 66px 66px 0;
}
h1 {
    font-size: 25px;
    font-weight: 300;
    font-family: helvetica;
    color: white;
    margin: 0px;
}
p {
    font-size: 16px;
    font-family: Helvetica;
    color: grey;
    margin: 0px;
}
.first {
    color: white;
}
h2 {
    font-size: 35px;
    font-family: Helvetica;
    color: #564e4e;
    margin: 0px;
    margin-bottom: 30px;
}
h3 {
    font-size: 15px;
    font-family: Helvetica;
    color: #564e4e;
    margin: 0px;
    margin-bottom: 10px;
}
.info {
    height: 60%;
}
.info-item {
    margin-bottom: 25px;
    border-bottom: 2px solid gray;
}
.info-item-2 {
    margin-bottom: 25px;
    border-bottom: 2px solid gray;
    display: none;
}
.photo {
    width: 140px;
    border: 4px solid pink;
    border-radius: 50%;
    object-fit: cover;
}
.buttons {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.more-info {
    background: pink;
    color: #564e4e;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}
.social-media {
    display: flex;
}
img {
    width: 60px;
    padding: 5px;
}